# --- Core Framework ---
fastapi[standard]

# --- Server ---
uvicorn

# --- Database ---
sqlalchemy
psycopg2-binary

# --- Environment Variables ---
python-dotenv

# --- Data Validation ---
pydantic

# --- Authentication / Security ---
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]
pytest
httpx
